/* ALL */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px 100vh;
  grid-template-areas:
    "header header header"
    "aside main main";
  margin: 0;
}

img {
  height: 10px;
}

input {
  border-radius: 2px;
  border: 2px solid #1F1F3D;
  font-size: 1em;
  height: 50px;
  outline: none;
  padding: 10px;
}

/* HEADER */
header {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

.header__h1 {
  color: #FFFFFF;
  justify-content: flex-start;
  margin: 0;
}

.header__span {
  color: #FFC303;
}

.header__form {
  display: flex;
}

.header__form--img {
  background-color: #F3F6F7;
  width: 52px;
}

.header__form--input {
  display: inline;
  width: 250px;
}


/* ASIDE */
aside {
  background-color: #587A8A;
  border: 1px solid #1F1F3D;
  grid-area: aside;
  padding: 15px;
}

.aside__h3 {
  color: #F3F6F7;
  margin: 10px 0px 5px 0px;
  font-size: 1rem;
}

.aside__form {
  border-bottom: 1px solid #1F1F3D;
}

.aside__input--title {
  margin-bottom: 20px;
  width: 100%;
}

.aside__input--containter {
  display: flex;
  width: 100%;
}

.aside__img {
  background-color: #1F1F3D;
  width: 50px;
}

.aside__input--item {
  display: inline;
  margin-bottom: 20px;
  width: 83%;
}

.aside__btn {
  border: none;
  border-radius: 2px;
  background-color: #1F1F3D;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  font-weight: 800;
  height: 40px;
  margin: 20px 0px 20px 0px;
  outline: none;
  padding: 10px;
  width: 100%;
}

/* MAIN */
main {
  background-color: #F3F6F7;
  border: 1px solid #1F1F3D;
  grid-area: main;
}
